@use './variables.scss' as vars;


div#playNowWrapper {
    max-width: 25%;

    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    &.hidden {
        transform: translateX(-60vw);
    }
}

button#playNowButton {
    border-radius: 10px;
    border: 3px solid vars.$color-cream; 
    background-color: vars.$bg-overlay;

    $paddingLeftRight: 15px;
    padding-left: $paddingLeftRight;
    padding-right: $paddingLeftRight;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    &:hover {
        transform: scale(1.075);
    }

    &.greyed {
        border-color: #808080;
        background-color: #404040;
        transform: none !important;
    }
}

h3#playNowText.greyed {

    color: #d2d2d2;
    transform: none !important;
}